<section class="resume-section ml-auto mr-auto p-3 p-lg-5 d-flex d-column" id="about">
    <div class="mt-auto mb-auto">
        <h1 class="mb-0">
            Justin
            <span class="text-primary">Tadlock</span>
        </h1>
        <div class="row summary m-0 p-0">
            <span class="m-0 p-0">
                Developer. Innovator. 
            </span>
            <span class="m-0 p-0 blue-font">
                Personal Growth Enthusiast.
            </span>
            <hr />
        </div>
        <div class="row">
            <div class="p-0 pl-3 m-0 mb-3 text-justify">
                Hey there! I hope you're doing well.<br/><br/>

                I am a junior developer who is interested in roles that 
                involve the following technologies: <br />
                Full Stack Development, Spring framework, Java, C# <br/><br/>

                When I think of programming, I like to think of it as an art form 
                that utilizes a blend of analytics, creativity, and logic to create 
                elegant solutions that help run our world.<br/><br/>

                I have been coding since I was taught the basics with 
                C/C++ back in 2006 (13+ years) and having been learning to code on 
                my own every since. I have gone from the basics of programming to 
                becoming familiar with a variety of developer tools including 
                Java, C#, HTML, CSS, Bootstrap, javascript, jQuery, and 
                <a href="#skills" class="js-scroll-trigger">many others</a>.<br/><br/>

                <div class="dropdown show mr-auto">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Résumé</span>
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" 
                               href="https://docs.google.com/document/d/e/2PACX-1vRQmd_4YxGcdtjCxCmCeHDxr0taPUesxo4E3ZprhcY0iYZa4p9tr0LeguMPOJesnVi55HC-D4tPGFL9/pub?embedded=true"
                               target="_blank">
                               View</a>
                            <a class="dropdown-item" href="https://docs.google.com/document/d/1OZI-WqnFAS6NAjpnemH5sykGM5HjfPvuLKBSzyIWLGQ/export?format=pdf">PDF</a>
                            <a class="dropdown-item" href="https://docs.google.com/document/d/1OZI-WqnFAS6NAjpnemH5sykGM5HjfPvuLKBSzyIWLGQ/export?format=docx">DOCX</a>
                        </div>
                    </div>

                <hr />

                <ul class="list-inline list-social-icons mb-0 mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <i class="fab fa-github-square fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>