<section id="about" class="resume-section">
  <div class="container">
    <header>
      <h1>
        Justin
        <span class="text-primary">
          Tadlock
        </span>
      </h1>
      <span>
        Developer. Innovator.&nbsp;&nbsp;
      </span>
      <span class="text-primary">
        Personal Growth Enthusiast.
      </span>
      <hr />
    </header>
    <section>
      <p>
        Hey there! I hope you're doing well.
      </p>
      <p>
        I am a developer who is interested in the following technologies:<br />
        ReactJs, JavaScript, TypeScript, and C#.
      </p>
      <p>
        For a full list of my skills, 
        <a href="#skills" class="js-scroll-trigger">
          click here
        </a>
      </p>
      <div class="d-flex ml-0">
        <a
          href="https://www.facebook.com/{{ site.facebook_username }}"
          target="_blank"
        >
          <i class="fab fa-facebook fa-3x"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <a
          href="https://github.com/{{ site.github_username }}"
          target="_blank"
        >
          <i class="fab fa-github-square fa-3x"></i>
        </a>
        <div class="dropdown show">
          <a
            id="dropdownMenuLink"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            class="btn dropdown-toggle"
          >
            <span>Résumé</span>
          </a>

          <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
            <a
              href="https://docs.google.com/document/d/1vsoouM6iGmkY3yx4cepowL2BSJz6myn57mXucD5E_d8/preview?usp=sharing"
              target="_blank"
              class="dropdown-item"
            >
              View
            </a>
            <a
              href="https://docs.google.com/document/d/1vsoouM6iGmkY3yx4cepowL2BSJz6myn57mXucD5E_d8/export?format=pdf"
              class="dropdown-item"
            >
              PDF
            </a>
            <a
              href="https://docs.google.com/document/d/1vsoouM6iGmkY3yx4cepowL2BSJz6myn57mXucD5E_d8/export?format=docx"
              class="dropdown-item"
            >
              DOCX
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>