<section class="resume-section" id="interests">
  <div class="container">
    <header>
      <h2 class="pb-5">Interests</h2>
    </header>

    <section>
      <div class="row block-emblems">
        <div class="col-2">
          <i class="fas fa-book"></i>
          <p>Reading</p>
        </div>
        <div class="col-2">
          <i class="fas fa-code"></i>
          <p>Programming</p>
        </div>
        <div class="col-2">
          <i class="fa fa-volleyball-ball"></i>
          <p>Volleyball</p>
        </div>
        <div class="col-2">
          <i class="fas fa-cubes"></i>
          <p>Obstacles</p>
        </div>
        <div class="col-2">
          <i class="fas fa-gamepad"></i>
          <p>Gaming</p>
        </div>
        <div class="col-2">
          <i class="fas fa-edit"></i>
          <p>Drawing</p>
        </div>
        <div class="col-2">
          <i class="fas fa-fire"></i>
          <p>Camping</p>
        </div>
        <div class="col-2">
          <i class="fas fa-hiking"></i>
          <p>Hiking</p>
        </div>
        <div class="col-2">
          <i class="fas fa-bullseye"></i>
          <p>Archery</p>
        </div>
      </div>
    </section>
  </div>
</section>