<section class="resume-section" id="portfolio">
  <div class="container">
    <header>
      <div class="row">
        <h2 class="mb-5">Portfolio</h2>
      </div>
    </header>

    <section>
      <div class="row">
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img class="img-fluid" src="/assets/images/portfolio/fish-eater.jpg" alt="" />
          <h3>Fish Eater</h3>
          <p class="description">
            A simple 2D game where you eat other fish and avoid sharks.
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            Java, Gimp, Audacity
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="https://github.com/Justin-Tadlock/FishEaterGame" class="js-scroll-trigger" target="_blank">
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img class="img-fluid" src="/assets/images/portfolio/catalog.png" alt="" />
          <h3>Item Catalog</h3>
          <p class="description">
            An item catalog web application hosted on a linux server.
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            Python, flask, PostgreSQL
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="https://github.com/{{ site.github_username }}/catalog-project" class="js-scroll-trigger"
                target="_blank">
                <i class="devicon-github-original"></i>
              </a>
            </div>
            <div class="col-1">
              <a href="http://catalog.justin-tadlock.com" class="js-scroll-trigger"
                 target="_blank">
                 <span class="iconify" data-icon="mdi:link-variant" data-inline="false"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img class="img-fluid" src="/assets/images/portfolio/code-1.jpg" alt="" />
          <h3>Game Library</h3>
          <p class="description">
            A simple library where you can browse information about games.
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            PHP, Laravel
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="https://github.com/{{ site.github_username }}/lis4368_finalproject" class="js-scroll-trigger"
                target="_blank">
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img class="img-fluid" src="/assets/images/portfolio/c-plus-plus.jpg" alt="" />
          <h3>C++ Archive</h3>
          <p class="description">
            A collection of small C/C++ programs.
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            C/C++
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="https://github.com/{{ site.github_username }}/CPlusPlus/tree/master/COP3502"
                class="js-scroll-trigger" target="_blank">
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img class="img-fluid" src="/assets/images/portfolio/coming-soon.jpg" alt="" />
          <h3>Paycheck Estimator</h3>
          <p class="description">
            A web application that can estimate your net paycheck. Coming soon!
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            TBD
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="#portfolio" class="js-scroll-trigger">
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <a class="portfolio-box" href="#">
            <img class="img-fluid" src="/assets/images/portfolio/coming-soon.jpg" alt="" />
          </a>
          <h3>Todo List</h3>
          <p class="description">
            A web application where you manage todo items, coming soon!
          </p>
          <h5>Tools Used:</h5>
          <p class="tools">
            Spring Framework, TBD
          </p>
          <h5>Additional Links:</h5>
          <div class="row links">
            <div class="col-1">
              <a href="#portfolio" class="js-scroll-trigger">
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>