<section id="portfolio" class="resume-section">
  <div class="container">
    <header>
      <h2 class="mb-5">
        Portfolio
      </h2>
    </header>
    <section>
      <div class="row">
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img
            src="/assets/images/portfolio/fish-eater.jpg"
            alt=""
            class="img-fluid"
          />
          <h3>
            Fish Eater
          </h3>
          <p class="description">
            A simple 2D game where you eat other fish and avoid sharks.
          </p>
          <h5>
            Tools Used:
          </h5>
          <p class="tools">
            Java, Gimp, Audacity
          </p>
          <h5>
            Additional Links:
          </h5>
          <div class="row links">
            <div class="col-1">
              <a
                href="https://github.com/Justin-Tadlock/FishEaterGame"
                target="_blank"
                class="js-scroll-trigger"
              >
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img
            src="/assets/images/portfolio/catalog.png"
            alt=""
            class="img-fluid"
          />
          <h3>
            Item Catalog
          </h3>
          <p class="description">
            An item catalog web application hosted on a linux server.
          </p>
          <h5>
            Tools Used:
          </h5>
          <p class="tools">
            Python, flask, PostgreSQL
          </p>
          <h5>
            Additional Links:
          </h5>
          <div class="row links">
            <div class="col-1">
              <a
                href="https://github.com/{{ site.github_username }}/catalog-project"
                target="_blank"
                class="js-scroll-trigger"
              >
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 portfolio-item">
          <img
            src="/assets/images/portfolio/code-1.jpg"
            alt=""
            class="img-fluid"
          />
          <h3>
            Game Library
          </h3>
          <p class="description">
            A simple library where you can browse information about games.
          </p>
          <h5>
            Tools Used:
          </h5>
          <p class="tools">
            PHP, Laravel
          </p>
          <h5>
            Additional Links:
          </h5>
          <div class="row links">
            <div class="col-1">
              <a
                href="https://github.com/{{ site.github_username }}/lis4368_finalproject"
                target="_blank"
                class="js-scroll-trigger"
              >
                <i class="devicon-github-original"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>