<section class="resume-section ml-auto mr-auto p-3 p-lg-5 d-flex flex-column" id="portfolio">
    <div class="mt-auto mb-auto">
        <h2 class="mb-5 row">Portfolio</h2>
        <div class="row">
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/Justin-Tadlock/FishEaterGame" target="_blank">
                    <img class="img-fluid" src="/assets/images/portfolio/fish-eater.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Fish Eater
                            </div>
                            <div class="project-category text-faded">
                                Java
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/Justin-Tadlock/JavaJeopardy" target="_blank">
                    <img class="img-fluid" src="/assets/images/portfolio/java-jeopardy.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Jeopardy
                            </div>
                            <div class="project-category text-faded">
                                Java
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/Justin-Tadlock/lis4368_finalproject" target="_blank">
                    <img class="img-fluid" src="/assets/images/portfolio/code-1.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Game Library
                            </div>
                            <div class="project-category text-faded">
                                PHP, Laravel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/Justin-Tadlock/CPlusPlus/tree/master/COP3502" target="_blank">
                    <img class="img-fluid" src="/assets/images/portfolio/c-plus-plus.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                C++ Archive
                            </div>
                            <div class="project-category text-faded">
                                C++
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-fluid" src="/assets/images/portfolio/coming-soon.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Financial Budget
                            </div>
                            <div class="project-category text-faded">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="m-0 p-0 col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-fluid" src="/assets/images/portfolio/coming-soon.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Project
                            </div>
                            <div class="project-category text-faded">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>