<section class="resume-section ml-auto mr-auto p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="mt-auto mb-auto">
        <h2 class="mb-5 row">Skills</h2>

        <div class="subheading mb-3">Familiar Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons mb-5 block-emblems">
            <li class="list-inline-item text-center">
                <i class="devicon-html5-plain"></i>
                <h5 class="text-center">HTML5</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-css3-plain"></i>
                <h5 class="text-center">CSS3</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-bootstrap-plain"></i>
                <h5 class="text-center">Bootstrap</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-java-plain"></i>
                <h5 class="text-center">Java</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-cplusplus-plain"></i>
                <h5 class="text-center">C++</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-csharp-plain"></i>
                <h5 class="text-center">C#</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-bitbucket-plain"></i>
                <h5 class="text-center">BitBucket</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-github-original"></i>
                <h5 class="text-center">GitHub</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-visualstudio-plain"></i>
                <h5 class="text-center">V Studio</h5>
            </li>
            <li class="list-inline-item text-center">
                    <span class="iconify" data-icon="mdi-powershell"></span>
                <h5 class="text-center">PowerShell</h5>
            </li>
        </ul>

        <div class="subheading mt-3">List of Technology Exposure</div>
        <ul class="list-inline list-icons mb-5 block-emblems">
            <li class="list-inline-item text-center">
                <i class="devicon-javascript-plain"></i>
                <h5 class="text-center">JavaScript</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-php-plain"></i>
                <h5 class="text-center">PHP</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-jquery-plain"></i>
                <h5 class="text-center">jQuery</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-docker-plain"></i>
                <h5 class="text-center">Docker</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-nodejs-plain"></i>
                <h5 class="text-center">Node.js</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-python-plain"></i>
                <h5 class="text-center">Python</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-angularjs-plain"></i>
                <h5 class="text-center">Angular.js</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-mysql-plain"></i>
                <h5 class="text-center">MySQL</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-sourcetree-original"></i>
                <h5 class="text-center">SourceTree</h5>
            </li>
            <li class="list-inline-item text-center">
                    <span class="iconify" data-icon="mdi-apple"></span>
                <h5 class="text-center">Mac OS</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="devicon-ubuntu-plain"></i>
                <h5 class="text-center">Ubuntu</h5>
            </li>
        </ul>
    </div>
</section>