<section class="container d-flex flex-column resume-section" id="skills">
  <div class="align-self-center">
    <header>
      <h2 class="mb-5">Skills</h2>
    </header>

    <section>
      <h4>Familiar Programming Languages &amp; Tools</h4>
      <ul class="inline-list block-emblems">
        <li>
          <i class="devicon-html5-plain"></i>
          <h5>HTML5</h5>
        </li>
        <li>
          <i class="devicon-css3-plain"></i>
          <h5>CSS3</h5>
        </li>
        <li>
          <i class="devicon-bootstrap-plain"></i>
          <h5>Bootstrap</h5>
        </li>
        <li>
          <i class="devicon-java-plain"></i>
          <h5>Java</h5>
        </li>
        <li>
          <i class="devicon-cplusplus-plain"></i>
          <h5>C++</h5>
        </li>
        <li>
          <i class="devicon-csharp-plain"></i>
          <h5>C#</h5>
        </li>
        <li>
          <i class="devicon-bitbucket-plain"></i>
          <h5>BitBucket</h5>
        </li>
        <li>
          <i class="devicon-github-original"></i>
          <h5>GitHub</h5>
        </li>
        <li>
          <i class="devicon-visualstudio-plain"></i>
          <h5>V Studio</h5>
        </li>
        <li>
          <span class="iconify" data-icon="mdi-powershell"></span>
          <h5>PowerShell</h5>
        </li>
      </ul>

      <h4>List of Technology Exposure</h4>
      <ul class="inline-list block-emblems">
        <li>
          <i class="devicon-javascript-plain"></i>
          <h5>JavaScript</h5>
        </li>
        <li>
          <i class="devicon-php-plain"></i>
          <h5>PHP</h5>
        </li>
        <li>
          <i class="devicon-jquery-plain"></i>
          <h5>jQuery</h5>
        </li>
        <li>
          <i class="devicon-docker-plain"></i>
          <h5>Docker</h5>
        </li>
        <li>
          <i class="devicon-nodejs-plain"></i>
          <h5>Node.js</h5>
        </li>
        <li>
          <i class="devicon-python-plain"></i>
          <h5>Python</h5>
        </li>
        <li>
          <i class="devicon-angularjs-plain"></i>
          <h5>Angular.js</h5>
        </li>
        <li>
          <i class="devicon-mysql-plain"></i>
          <h5>MySQL</h5>
        </li>
        <li>
          <i class="devicon-sourcetree-original"></i>
          <h5>SourceTree</h5>
        </li>
        <li>
          <span class="iconify" data-icon="mdi-apple"></span>
          <h5>Mac OS</h5>
        </li>
        <li>
          <i class="devicon-ubuntu-plain"></i>
          <h5>Ubuntu</h5>
        </li>
      </ul>
    </section>

  </div>
</section>