<section id="skills" class="resume-section">
  <div class="container">
    <header>
      <h2 class="mb-5">
        Skills
      </h2>
    </header>
    <section>
      <div class="row pl-3">
        <h4>
          Familiar Programming Languages &amp; Tools
        </h4>
        <hr />
      </div>
      <div class="row block-emblems pb-4">
        <div class="col-2">
          <i class="devicon-react-original"></i>
          <p>ReactJs</p>
        </div>
        <div class="col-2">
          <i class="devicon-javascript-plain"></i>
          <p>JavaScript</p>
        </div>
        <div class="col-2">
          <i class="devicon-typescript-original"></i>
          <p>TypeScript</p>
        </div>
        <div class="col-2">
          <i class="devicon-html5-plain"></i>
          <p>HTML5</p>
        </div>
        <div class="col-2">
          <i class="devicon-css3-plain"></i>
          <p>CSS3</p>
        </div>
        <div class="col-2">
          <i class="devicon-bootstrap-plain"></i>
          <p>Bootstrap</p>
        </div>
        <div class="col-2">
          <i class="devicon-bitbucket-plain"></i>
          <p>BitBucket</p>
        </div>
        <div class="col-2">
          <i class="devicon-github-original"></i>
          <p>GitHub</p>
        </div>
        <div class="col-2">
          <i class="devicon-visualstudio-plain"></i>
          <p>VS Code</p>
        </div>
      </div>

      <div class="row pt-4 pl-3">
        <h4>
          List of Technology Exposure
        </h4>
        <hr />
      </div>
      <div class="row block-emblems pb-4">
        <div class="col-2">
          <i class="devicon-java-plain"></i>
          <p>Java</p>
        </div>
        <div class="col-2">
          <i class="devicon-cplusplus-plain"></i>
          <p>C++</p>
        </div>
        <div class="col-2">
          <i class="devicon-csharp-plain"></i>
          <p>C#</p>
        </div>
        <div class="col-2">
          <i class="devicon-jquery-plain"></i>
          <p>jQuery</p>
        </div>
        <div class="col-2">
          <i class="devicon-docker-plain"></i>
          <p>Docker</p>
        </div>
        <div class="col-2">
          <i class="devicon-nodejs-plain"></i>
          <p>Node.js</p>
        </div>
        <div class="col-2">
          <i class="devicon-python-plain"></i>
          <p>Python</p>
        </div>
        <div class="col-2">
          <i class="devicon-mysql-plain"></i>
          <p>MySQL</p>
        </div>
        <div class="col-2">
          <i class="devicon-sourcetree-original"></i>
          <p>SourceTree</p>
        </div>
        <div class="col-2">
          <i class="devicon-go-plain"></i>
          <p>Golang</p>
        </div>
        <div class="col-2">
          <i class="devicon-ubuntu-plain"></i>
          <p>Ubuntu</p>
        </div>
      </div>
    </section>
  </div>
</section>