<section class="resume-section ml-auto mr-auto p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="mt-auto mb-auto">
        <h2 class="mb-5 mt-5 row">Hobbies</h2>
        <ul class="list-inline list-icons mb-5 block-emblems">
            <li class="list-inline-item text-center">
                <i class="fas fa-book"></i>
                <h5>Reading</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-code"></i>
                <h5>Programming</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fa fa-volleyball-ball"></i>
                <h5>Volleyball</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-cubes"></i>
                <h5>Obstacle courses</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-gamepad"></i>
                <h5>Video Games</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-edit"></i>
                <h5>Drawing</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-fire"></i>
                <h5>Camping</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-hiking"></i>
                <h5>Hiking</h5>
            </li>
            <li class="list-inline-item text-center">
                <i class="fas fa-bullseye"></i>
                <h5>Archery</h5>
            </li>
        </ul>         
    </div>
</section>