<section class="ml-auto mr-auto p-3 p-lg-5 d-flex flex-column" id="resume">
    <div class="container">
        <div class="row mt-auto mb-auto">
            <h2 class="embed-responsive-item">Résumé</h2>
        </div>
        <div class="row" id="embedded-resume">
            <iframe class="embed-responsive-item" 
                    scrolling="no"
                    src="https://docs.google.com/document/d/e/2PACX-1vRQmd_4YxGcdtjCxCmCeHDxr0taPUesxo4E3ZprhcY0iYZa4p9tr0LeguMPOJesnVi55HC-D4tPGFL9/pub?embedded=true">
            </iframe>
        </div>
        <div class="row">
            <div class="dropdown show mr-auto">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="view-resume">Options</span>
                    <span class="download-resume">Download</span>
                </a>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item view-resume" 
                    href="https://docs.google.com/document/d/e/2PACX-1vRQmd_4YxGcdtjCxCmCeHDxr0taPUesxo4E3ZprhcY0iYZa4p9tr0LeguMPOJesnVi55HC-D4tPGFL9/pub?embedded=true"
                    target="_blank">
                    View</a>
                    <a class="dropdown-item" href="https://docs.google.com/document/d/1OZI-WqnFAS6NAjpnemH5sykGM5HjfPvuLKBSzyIWLGQ/export?format=pdf">PDF</a>
                    <a class="dropdown-item" href="https://docs.google.com/document/d/1OZI-WqnFAS6NAjpnemH5sykGM5HjfPvuLKBSzyIWLGQ/export?format=docx">DOCX</a>
                </div>
            </div>
        </div>
    </div>
</section>