/*
    yellow: rgb(255, 187, 0);
    green: rgb(124, 187, 0);
    blue: rgb(0, 161, 241);
    red: rgb(246, 83, 20);
*/

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    font-size: 16px;
}

h1,
h2 {
    font-family: 'Saira Extra Condensed', 'Open Sans', serif;
    text-transform: uppercase;
}

h1 {
    font-size: 5.3rem;
    line-height: 3rem; }
h2 {
    font-size: 3rem;
    line-height: 2rem; }

section > section {
    height: 100%; }

header {
    width: 100%; }
header > h1 {
    text-transform: uppercase; }
header > span {
    text-transform: capitalize;
    font-size: 1.24rem; }

footer {
    text-align: center;
    padding-bottom: 50px; }

body .d-flex {
    margin: 0;
    max-width: 900px; }
@media (min-width: 990px) {
    body .d-flex {
        margin-left: 7rem; }
}

.bf {
    color: rgb(0, 161,241);
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase; }
  
@media (min-width: 990px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 14rem;
        height: 100vh; }
        #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem; }
        #sideNav .navbar-brand .img-profile {
            max-width: 10rem;
            max-height: 10rem;
            border: 0.5rem solid rgba(255, 255, 255, 0.2); }
        #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto; }
        #sideNav .navbar-collapse .navbar-nav {
            flex-direction: column;
            width: 100%; }
            #sideNav .navbar-collapse .navbar-nav .nav-item {
            display: block; }
            #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
                display: block; } 
}

.resume-section {
    padding-top: 5rem;
    min-height:100vh;
}

#about header {
    font-family: 'Saira Extra Condensed';
}
#about header > span {
    font-size: 1.7rem;
}
#about li {
    margin-right: 5px;
}

.inline-list {
    padding: 0 0 2rem 0;
    list-style: none; }
.inline-list li {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
}

.inline-list a, 
.inline-list .dropdown {
    color: #495057; }

.inline-list a:hover {
    color: rgb(0,161,241); }

.inline-list .dropdown {
    margin-top: 2px;
    color: white;
    height: 44px;
    background-color: #495057;
    border-radius: 3px;
    vertical-align: middle;
}
.inline-list .dropdown > a { 
    margin-top: 2px;
    color: white; 
    font-weight: bold;
    text-decoration: none;
}
.inline-list .dropdown:hover {
    background-color: rgb(0,161,241);
}

.block-emblems li {
    font-size: 2.5rem;
    width: 8rem;
}
.block-emblems li:hover {
    color: rgb(0,161,241);
}
.block-emblems li h5 {
    font-size: 1rem;
}

footer {
    width: 100%;
}

#portfolio {
    flex-wrap: wrap;
    border: 1px solid red;
}